<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.transdroid.full"
	android:versionCode="2"
	android:versionName="2.0-alpha2" >

	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="17" />

	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:xlargeScreens="true" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/system_name"
		android:theme="@style/Theme.Sherlock"
		android:hardwareAccelerated="true" >

		<!-- Main activities -->
		<activity
			android:name="org.transdroid.core.gui.TorrentsActivity_"
			android:label="@string/app_name"
			android:theme="@style/TransdroidTheme"
			android:uiOptions="splitActionBarWhenNarrow" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<intent-filter>
				<action android:name="org.transdroid.ADD_MULTIPLE" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:mimeType="application/x-bittorrent"
					android:host="*"
					android:scheme="http" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:pathPattern=".*\\.torrent"
					android:host="*"
					android:scheme="http" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:mimeType="application/x-bittorrent"
					android:host="*"
					android:scheme="https" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:pathPattern=".*\\.torrent"
					android:host="*"
					android:scheme="https" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:mimeType="application/x-bittorrent"
					android:host="*"
					android:scheme="file" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:pathPattern=".*\\.torrent"
					android:host="*"
					android:scheme="file" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:mimeType="application/x-bittorrent"
					android:host="*"
					android:scheme="content" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:pathPattern=".*\\.torrent"
					android:host="*"
					android:scheme="content" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="magnet" />
			</intent-filter>
			<meta-data
				android:name="android.app.default_searchable"
				android:value="org.transdroid.core.gui.search.SearchActivity_" />
		</activity>
		<activity
			android:name="org.transdroid.core.gui.DetailsActivity_"
			android:theme="@style/TransdroidTheme"
			android:uiOptions="splitActionBarWhenNarrow" >
		</activity>

		<!-- Settings screens -->
		<activity android:name="org.transdroid.core.gui.settings.MainSettingsActivity_" />
		<activity android:name="org.transdroid.core.gui.settings.ServerSettingsActivity_" />
		<activity android:name="org.transdroid.core.gui.settings.WebsearchSettingsActivity_" />
		<activity android:name="org.transdroid.core.gui.settings.RssfeedSettingsActivity_" />
		<activity android:name="org.transdroid.core.gui.settings.NotificationSettingsActivity_" />
		<activity android:name="org.transdroid.core.gui.settings.SystemSettingsActivity_" />
		<activity android:name="org.transdroid.core.gui.navigation.DialogHelper_" />

		<!-- Search -->
		<activity
			android:name="org.transdroid.core.gui.search.SearchActivity_"
			android:icon="@drawable/ic_launcher"
			android:label="@string/search_torrentsearch"
			android:theme="@style/TransdroidTheme"
			android:launchMode="singleTask" >
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="text/plain" />
			</intent-filter>

			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
			<meta-data
				android:name="android.app.default_searchable"
				android:value="org.transdroid.core.gui.search.SearchActivity_" />
		</activity>
	    <provider
	    	android:name="org.transdroid.core.gui.search.TorrentSearchHistoryProvider" 
	    	android:authorities="org.transdroid.core.gui.search.TorrentSearchHistoryProvider"
	    	android:exported="false" />
		
		<!-- RSS -->
		<activity
			android:name="org.transdroid.core.gui.rss.RssfeedsActivity_"
			android:label="@string/rss_feeds"
			android:theme="@style/TransdroidTheme" />
		<activity
			android:name="org.transdroid.core.gui.rss.RssitemsActivity_"
			android:label="@string/rss_feeds"
			android:theme="@style/TransdroidTheme" />

	</application>

</manifest>